.font_1 {
	font-family: 'M PLUS 1p';
}

.font_2 {
	font-family: 'M PLUS Rounded 1c';
}

@font-face {
	font-family: 'Hannari';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.eot);
	src: url(//fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.ttf) format("truetype");
}

.font_3 {
	font-family: 'Hannari';
}

@font-face {
	font-family: 'Kokoro';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/kokoro/v1/Kokoro-Regular.eot);
	src: url(//fonts.gstatic.com/ea/kokoro/v1/Kokoro-Regular.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/kokoro/v1/Kokoro-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/kokoro/v1/Kokoro-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/kokoro/v1/Kokoro-Regular.ttf) format("truetype");
}

.font_4 {
	font-family: 'Kokoro';
}

.font_5 {
	font-family: 'Sawarabi Mincho';
}

@font-face {
	font-family: 'Nikukyu';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.ttf) format("truetype");
}

.font_6 {
font-family: 'Nikukyu';
}

@font-face {
	font-family: 'Nico Moji';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.ttf) format("truetype");
}

.font_7 {
	font-family: 'Nico Moji';
}

.font_8 {
/* font-family: 'Noto Sans JP'; */
	font-family: 'Nico Moji';
}

@font-face {
	font-family: 'Mamelon';
	src: url(/font/Mamelon-5-Hi-Regular.woff2);
}

.font_9 {
	font-family: 'Mamelon';
}

@font-face {
	font-family: 'pupupu';
	src: url(/font/pupupu-free.otf);
}

.font_10 {
	font-family: 'pupupu';
}

@font-face {
	font-family: 'NikkyouSans';
	src: url(/font/NikkyouSans-B6aV.ttf);
}

.font_11 {
	font-family: 'NikkyouSans';
}

@font-face {
	font-family: 'Togalite';
	src: url(/font/Togalite-Regular.eot);
}

.font_12 {
	font-family: 'Togalite';
}

@font-face {
	font-family: 'Escumasia';
	src: url(/font/Escumasia-Regular.otf);
}

.font_13 {
	font-family: 'Escumasia';
}

@font-face {
	font-family: 'Wrestlerborder2test-Regular.otf';
	src: url(/font/Wrestlerborder2test-Regular.otf);
}

.font_14 {
	font-family: 'Wrestlerborder2test-Regular.otf';
}

@font-face {
	font-family: 'thin-Regular.otf';
	src: url(/font/thin-Regular.otf);
}

.font_15 {
	font-family: 'thin-Regular.otf';
}

@font-face {
	font-family: 'SpeedyLeft_v2-Regular.otf';
	src: url(/font/SpeedyLeft_v2-Regular.otf);
}

.font_16 {
	font-family: 'SpeedyLeft_v2-Regular.otf';
}

@font-face {
	font-family: 'Siberiankadomaru-Regular.otf';
	src: url(/font/Siberiankadomaru-Regular.otf);
}

.font_17 {
	font-family: 'Siberiankadomaru-Regular.otf';
}

@font-face {
	font-family: 'Origami-Regular.otf';
	src: url(/font/Origami-Regular.otf);
}

.font_18 {
	font-family: 'Origami-Regular.otf';
}

@font-face {
	font-family: 'Neon-tube-Regular.otf';
	src: url(/font/Neon-tube-Regular.otf);
}

.font_19 {
	font-family: 'Neon-tube-Regular.otf';
}

@font-face {
	font-family: 'Moviefilm-Regular.otf';
	src: url(/font/Moviefilm-Regular.otf);
}

.font_20 {
	font-family: 'Moviefilm-Regular.otf';
}

@font-face {
	font-family: 'MISHIMISHI-BLOCK.otf';
	src: url(/font/MISHIMISHI-BLOCK.otf);
}

.font_21 {
	font-family: 'MISHIMISHI-BLOCK.otf';
}

@font-face {
	font-family: 'koukaonfont01.ttf';
src: url(/font/koukaonfont01.ttf);
}

.font_22 {
	font-family: 'koukaonfont01.ttf';
}

@font-face {
	font-family: 'Kaiso-Next-B.otf';
	src: url(/font/Kaiso-Next-B.otf);
}

.font_23 {
	font-family: 'Kaiso-Next-B.otf';
}

@font-face {
	font-family: 'cinecaption226.ttf';
	src: url(/font/cinecaption226.ttf);
}

.font_24 {
	font-family: 'cinecaption226.ttf';
}

@font-face {
	font-family: 'bog-Regular.otf';
	src: url(/font/bog-Regular.otf);
}

.font_25 {
	font-family: 'bog-Regular.otf';
}




.gridcenter {
	display: grid;
	place-items: center;
}